/* Colors */
:root {
    /* color: */
    --primary-color: #000;
    --secondary-color: #fff;
    --alt-secondary-color: #eaeaea;
    --alt-dark-color: #c4bfbfc1;
    /* Icon colors */
    --primary-icon-color: #b1b1b1;
    --secondary-icon-color: #6b7376;
    --alt-icon-color: #9aa2a5;
}
/* Dark Theme */
.dark-mode {
    color: var(--secondary-color);
    background-color: #1b1919!important;
}
.dark-mode-icon {
    color: var(--alt-icon-color)!important;
}
/* Background  */
#bg-bar {
    background-color: #009688;
}
#bg {
    background-color: #dcdbd3;
}
/* Container App */
#container-app,
#search-bar i,
#notification-alert-section i {
    background-color: var(--secondary-color);
}
/* Comuni */
#message-app header i,
aside i {
    color: var(--primary-icon-color);
}
header,
footer,
#search-bar-container {
    background-color: var(--alt-secondary-color);
}
.selected-contact {
    background-color: var(--alt-secondary-color);
}
.selected-contact-alt {
    background-color: var(--alt-dark-color);
}
.date,
#message-app footer i {
    color: var(--secondary-icon-color);
}
/******* Aside *******/
/* Search-bar*/
#notification-alert-section {
    background-color: #8edafc;
}
#notification-alert-section i {
    color: #8edafc;
}
.contact-info p,
#notification-alert-section a {
    color: #c1b9bb;
}
/* App Chat */
.sent {
    background-color: #d5f9ba;
}
.received {
    background-color: var(--secondary-color);
}
/* Footer chat */
#send-message-btn {
    background-color: #009688;
    color: var(--alt-secondary-color);
}
.fa-paper-plane {
    color: var(--secondary-color)!important;
}