* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{ 
    /* color: */
    --primary-color: #000;
    --secondary-color: #fff;
    --alt-secondary-color: #cecece;
    /* components */
    --b-standard: 2px solid var(--primary-color);
    --b-thin: 1px solid var(--primary-color);
}
/* Classi Comuni */
.d-flex {
    display: flex;
}
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    height: 100vh;
    position: relative;
}
/* Background  */
#bg-bar {
    background-color: green;
    height: 15vh;
    width: 100%;
}
#bg {
    background-color: rgb(42, 3, 61);
    height: 85vh;
}
/* Container App */
#container-app {
    width: 80%;
    height: 95%;
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#notification-alert-section {
    height: 40px;
}
/******* Aside *******/
aside {
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
#user {
    height: 50px;
}
/* Search-bar*/
#search-bar-container {
    background-color: rgb(231, 231, 231);
    border: var(--b-thin);
    
    display:flex ;
    justify-content: center;
    align-items: center;

    height: 35px;
}
#search-bar {
    background-color: var(--secondary-color);
    height: 80%;
    width: 96%;
    display: flex;
    align-items: center;
}
#search-bar input {
    border: 0;
}
#search-bar i {
    padding: 0 10px;
}
/* Sezione Contatti */
#wrapper-contacts {
    height: calc(100% - 128px);
}
#contacts {
    height: 100%;
    overflow-y: auto;
    padding-top: 5px;
}
/* 
    Sezione Chat 
*/
#message-app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message-chat-container {
    height: calc(100% - 100px);
    overflow-y: auto;
}
.app-header {
    height: 50px;
    width: 100%;
    position: sticky;
}
#message-app footer {
    height: 50px;
    width: 100%;
}
