<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bolzapp</title>
        <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
        <!-- StyleSheet -->
        <!-- <link rel="stylesheet" href="css/debug.css"> -->
        <link rel="stylesheet" href="css/colors.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/effects.css">
        <link rel="stylesheet" href="css/mediaquery.css">
        <!-- Icone -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Luxon -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.1/luxon.min.js" integrity="sha512-6ZJuab/UnRq1muTChgrVxJhSgygmL2GMLVmSJN7pcBEqJ1dWPbqN9CiZ6U3HrcApTIJsLnMgXYBYgtVkJ8fWiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body class="debug">
    <!-- Sfondo -->
        <div id="bg-bar" class="w-100"></div>
        <div id="bg"></div>
    <!-- Container app -->
        <div id="container-app" class="d-flex">
            <aside class="h-100 d-flex">
                <header>
                    <div id="user" class="flex-al_c-between">
                        <div>
                            <img src="resources/img/avatar_io.jpg" alt="User Avatar">
                            <h4 class="d-in-block">Sofia</h4>
                        </div>
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                <!-- Sezione Avviso notifica -->
                    <div id="notification-alert-section" class="d-flex align-center">
                        <span>
                            <i class="fa-solid fa-bell-slash"></i>
                        </span>
                        <div class="d-in-block w-100">
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <a href="#" @click="hide()">Attiva notifiche desktop</a>
                        </div>
                    </div>
                <!-- Barra di ricerca -->
                    <div id="search-bar-container" class="flex-center">
                        <div id="search-bar" class="d-flex align-center">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" name="search-bar" id="search-bar" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                </header>
            <!-- Sezione contatti -->
                <div id="wrapper-contacts">
                <!-- contatti -->
                    <ul class="h-100">
                        <li v-for="(contact, index) in contacts" class="contact flex-al_c-between" 
                        @click="moveActive(index), viewMessage()">
                            <img :src=" 'resources/img/avatar' + contacts[index].avatar + '.jpg' " :alt="'Avatar' + ' ' + contacts[index].name">
                            <div class="contact-info">
                                <h4>{{contacts[index].name}}</h4>
                                <p>Ultimo messaggio: {{lastMessage}}</p>
                            </div>
                            <div class="date">{{lastMessageTime}}</div>
                        </li>
                    </ul>
                </div>
            </aside>
        <!-- Container messaggi chat -->
            <div id="message-app" class="h-100 d-flex">
            <!-- Header Chat -->
                <header id="app-header" class="flex-al_c-between w-100">
                    <div>
                        <img :src=" 'resources/img/avatar_'  + (activeChatIndex + 1) + '.jpg' " :alt=" 'Avatar' + ' ' + contacts[activeChatIndex].name">
                        <div class="contact-info d-in-block">
                            <h4>{{contacts[activeChatIndex].name}}</h4>
                            <p>Ultimo accesso il {{lastMessageDate}} alle ore {{lastMessageTime}} </p>
                        </div>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
            <!-- Container messaggi -->
                <main id="message-app-chat">
                <!-- container messaggi-->
                    <ul v-for="item in contacts[activeChatIndex].messages" class="d-flex">
                        <li :class="(item.status == 'sent') ? 'sent':'received'" class="message">
                            <div>{{item.message}}</div>
                            <span class="date">{{item.hour}}</span>
                        </li>
                    </ul> 
                </main>
            <!-- Footer chat -->
                <footer id="app-footer" class="d-flex align-center w-100">
                    <i class="fa-regular fa-face-smile"></i>
                    <input id="textMessage" type="text" class="no-border" 
                    placeholder="Scrivi un messaggio" 
                    v-model="txtInput" 
                    @keypress.enter="pushMessage()" />
                <!-- Bottone invio -->
                    <button id="send-message-btn" class="no-border"
                    :class=" (txtInput == '') ? 'd-none' : '' " 
                    @click="pushMessage()">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                    <i class="fa-solid fa-microphone"></i>
                </footer>
            </div>
        </div>
        <!-- 
            Script 
        -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>